[submodule "framework/super_app_framework"]
	path = framework/super_app_framework
	url = https://github.com/agraj28/super_app_framework.git
[submodule "core/super_app_core_module"]
	path = core/super_app_core_module
	url = https://github.com/agraj28/super_app_core_module.git