[submodule "super_app_framework"]
	path = super_app_framework
	url = https://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@github.com/agrajparashar/super_app_framework.git
	branch = sprint-1
	fetchRecurseSubmodules = true
	update = checkout
[submodule "framework/super_app_framework"]
	path = framework/super_app_framework
	url = https://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@github.com/agrajparashar/super_app_framework.git
